{% extends "encyclopedia/layout.html" %}

{% block body %}
    <h1>Delete {{ title }} page</h1>

    {% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }}" role="alert" aria-live="polite">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    
    <form action="{% url 'encyclopedia:delete' title %}" method="post">


        {% csrf_token %}
        <p>Article name selected for deletion: {{ title }}</p>

       
        
        <div class="form-actions">
            <a href="{% url 'encyclopedia:index' %}" class="btn">Cancel</a>
            <button type="submit" class="btn">Delete Page</button>

            
        </div>
        
    </form>
    
    

        
{% endblock %}