{% extends "encyclopedia/layout.html" %}

{% block body %}
    <h1>Edit {{ title }}</h1>

    {% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }}" role="alert" aria-live="polite">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}


    
    <form action="{% url 'encyclopedia:edit' title %}" method="post">


        {% csrf_token %}
        {{ form.as_p }}
        
        <div class="form-actions">
            <a href="{% url 'encyclopedia:index' %}" class="btn">Cancel</a>
            <button type="submit" class="btn">Save changes</button>
            <a href="{% url 'encyclopedia:delete' title %}" class="btn">Delete page</a>
            <a href="{% url 'encyclopedia:change_title' title %}" class="btn">Rename Article</a>

            
        </div>
        
    </form>
    
    

        
{% endblock %}